.container {

  display: grid;

  grid-template-columns: 1fr 0.1fr 3.8fr 0.2fr 0.7fr;

  grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr 1fr 1fr 0.3fr 0.8fr 0.3fr 0.9fr 0.4fr 1.4fr 0.8fr 1.8fr 0.6fr 1.4fr 0.4fr 1fr 0.3fr 1fr 7.7fr 1fr;

  gap: 0px 0px;

  grid-auto-flow: row;

  grid-template-areas:

    ". . . . ."

    ". . Si-h . ."

    ". . Email-head . ."

    ". . Emailinput- . ."

    ". . . . ."

    ". . Pwd-h . ."

    ". . Pwd-input . ."

    ". . . . ."

    ". . help . ."

    ". . . . ."

    ". . Cont-btn . ."

    ". . . . ."

    ". . Help-h1 . ."

    ". . . . ."

    "Border Border Border . ."

    ". . . . ."

    ". . Footer . ."

    ". . . . ."

    ". . footer-a . ."

    ". . . . ."

    "Boder Boder Boder . ."

    ". . . . ."

    ". . . . .";

}



.Si-h { grid-area: Si-h; }



.Email-head { grid-area: Email-head; }



.Emailinput- { grid-area: Emailinput-; }



.Pwd-h { grid-area: Pwd-h; }


.Pwd-input { grid-area: Pwd-input; }



.help { grid-area: help; }



.Cont-btn { 
  grid-area: Cont-btn;
  align-items: center;
 }


button{
  width:200px;
}
.Help-h1 { grid-area: Help-h1; }



.Border { 
  grid-area: Border;
  border-bottom:1px solid black; 
  width: 1000px;
  margin-left: 250px;
}



.Footer { grid-area: Footer; }



.footer-a { grid-area: footer-a; }



.Boder { grid-area: Boder; } 